<style>
  input {
    border: none;
    padding-left: 5px;
    width: 80%;
    height: 25px;
  }
</style>
<div class="country-filters">
  <div class="search-filter shadow" style="cursor: pointer;">
    <span class="fa fa-search"></span>
    <input
      style="cursor: pointer;"
      type="text"
      placeholder="Search for a country..."
      [(ngModel)]="searchFilter"
    />
  </div>

  <app-dropdown
    placeholder="Filter by Region"
    [values]="regionOptions"
    [(value)]="regionFilter"
  ></app-dropdown>
</div>

<div class="country-cards">
  <app-country-card
    *ngFor="let country of countries"
    [country]="country"
  ></app-country-card>
</div>
